<p-card>
    <div class="text-center">
        <h4>Contact Me</h4>
        <a [href]="mailto" class="p-button p-component p-button-text no-underline">
            <span class="p-button-icon pi pi-envelope"><span class="ml-1">{{email}}</span></span>
        </a>
        <a [href]="linkedIn" target="_blank" rel="noopener noreferrer"
            class="p-button p-component p-button-text no-underline">
            <span class="p-button-icon pi pi-linkedin"><span class="ml-1">LinkedIn</span></span>
        </a>
    </div>
</p-card>